@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <h2 class="display-4">Welcome to the Contract Monthly Claim System</h2>
    <p>This system allows IC lecturers to submit claims, view their claim history, and manage personal information.</p>
</div>
