@model ContractClaimSystem.Models.Claim

@{
    ViewData["Title"] = "Submit Claim";
}

<h2>Submit Claim</h2>

<form asp-action="SubmitClaim" method="post">
    <!-- Personal Details Section -->
    <fieldset>
        <legend>Personal Details</legend>

        <div class="form-group">
            <label for="LecturerName">Lecturer Name:</label>
            <input type="text" class="form-control" id="LecturerName" name="LecturerName" placeholder="Enter your name" />
        </div>

        <div class="form-group">
            <label for="LecturerSurname">Lecturer Surname:</label>
            <input type="text" class="form-control" id="LecturerSurname" name="LecturerSurname" placeholder="Enter your surname" />
        </div>

        <div class="form-group">
            <label for="EmployeeNo">Employee No:</label>
            <input type="text" class="form-control" id="EmployeeNo" name="EmployeeNo" placeholder="Enter employee number" />
        </div>

        <div class="form-group">
            <label for="ContactDetails">Contact Details:</label>
            <input type="text" class="form-control" id="ContactDetails" name="ContactDetails" placeholder="Enter contact details" />
        </div>
    </fieldset>

    <!-- Claim Details Section -->
    <fieldset>
        <legend>Claim Details</legend>

        <div class="form-group">
            <label for="Module">Module:</label>
            <input type="text" class="form-control" id="Module" name="Modules[0].ModuleName" placeholder="Enter module name" />
        </div>

        <div class="form-group">
            <label for="Programme">Programme:</label>
            <input type="text" class="form-control" id="Programme" name="Modules[0].Programme" placeholder="Enter programme" />
        </div>

        <div class="form-group">
            <label for="HoursWorked">Number of Hours:</label>
            <input type="number" class="form-control" id="HoursWorked" name="Modules[0].HoursWorked" placeholder="Enter number of hours" />
        </div>

        <div class="form-group">
            <label for="HourlyRate">Hourly Rate:</label>
            <input type="number" class="form-control" id="HourlyRate" name="Modules[0].HourlyRate" placeholder="Enter hourly rate" />
        </div>
    </fieldset>

    <!-- Button to Add Another Module (dynamic fields) -->
    <button type="button" class="btn btn-primary" id="addModuleBtn">Add Another Module</button>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-success">Submit Claim</button>
</form>

<!-- JavaScript to dynamically add more modules -->
@section Scripts {
    <script>
        let moduleIndex = 1;

        document.getElementById('addModuleBtn').addEventListener('click', function () {
            const moduleContainer = document.createElement('div');
            moduleContainer.innerHTML = `
                        <fieldset>
                            <legend>Module ${moduleIndex + 1}</legend>
                            <div class="form-group">
                                <label for="Modules[${moduleIndex}].ModuleName">Module:</label>
                                <input type="text" class="form-control" name="Modules[${moduleIndex}].ModuleName" placeholder="Enter module name" />
                            </div>
                            <div class="form-group">
                                <label for="Modules[${moduleIndex}].Programme">Programme:</label>
                                <input type="text" class="form-control" name="Modules[${moduleIndex}].Programme" placeholder="Enter programme" />
                            </div>
                            <div class="form-group">
                                <label for="Modules[${moduleIndex}].HoursWorked">Number of Hours:</label>
                                <input type="number" class="form-control" name="Modules[${moduleIndex}].HoursWorked" placeholder="Enter number of hours" />
                            </div>
                            <div class="form-group">
                                <label for="Modules[${moduleIndex}].HourlyRate">Hourly Rate:</label>
                                <input type="number" class="form-control" name="Modules[${moduleIndex}].HourlyRate" placeholder="Enter hourly rate" />
                            </div>
                        </fieldset>`;

            document.querySelector('form').insertBefore(moduleContainer, document.querySelector('.btn-success'));
            moduleIndex++;
        });
    </script>
}
